@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
	font-display: swap;
}


body {
	margin: 0;

	font: 18px / 30px "Rubik", "Arial", sans-serif;
	color: #444444;

	background-color: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}


.page-link {
	text-decoration: none;
	color: #000000;
}

.page-button {
	font-family: inherit;

	background-color: transparent;
}

.page-field {
	font-family: inherit;

	background-color: transparent;
}

.page-title {
	font-family: "Raleway", "Verdana", sans-serif;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	color: #000000;
}

.page-subtitle {
	font-family: "Raleway", "Verdana", sans-serif;
	font-weight: 800;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;
}

.link-text-subtitle {
	font-family: "Raleway", "Verdana", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}

.text-bold {
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -0.02em;
	color: #000000;
}

.text-small {
	font-size: 16px;
	line-height: 20px;
	color: #000000;
}


/* Header */

.page-header {
	background-color: #ffe17f;
}

.site-search-field::placeholder {
	color: #000000;
	opacity: 0.3;
}

.log-ut-button {
	opacity: 0.3;
}

.cart-counter {
	font-size: 14px;
	line-height: 17px;

	background-color: #ffffff;
}


/* Footer */

.page-footer {
	color: #ffffff;

	background-color: #444444;
}

.footer-link {
	text-decoration: none;
	color: inherit;
}

.footer-address {
	font-style: normal;
	color: inherit;
}

.footer-phone {
	text-decoration: underline;
}

.footer-social-link {
	background-color: rgba(255, 255, 255, 0.3);
}


/* Main Index */

/* Slider */

.feature-title {
	font-size: 16px;
}

.feature-description {
	font-size: 36px;
	color: #000000;
}

.slider-pagination-button {
	background-color: #ffffff;
}

/* Catalog Categories */

.catalog-categories-title {
	font-size: 18px;
	line-height: 24px;
	letter-spacing: -0.02em;
}

/* Services */

.services-button[aria-current="true"] {
	color: #ffe17f;

	background-color: #000000;
}

/* On Order */

.on-order-button {
	font-size: 20px;
	line-height: 23px;

	background-color: #f0f0f0;
}

/* Two Columns */

.contacts-subtitle {
	font-weight: 700;
	font-size: 24px;
}

.contacts-address {
	font-style: normal;
}

.contacts-phone {
	color: inherit;
}

/* Subscription */

.subscription {
	background-color: #f0f0f0;
}

.subscription-field {
	font: inherit;
	color: #444444;
}

.subscription-field::placeholder {
	color: #444444;
	opacity: 0.5;
}


/* Main Inner */

/* Catalog Products */

.catalog-products {
	background-color: #f0f0f0;
}

.catalog-products-inner {
	background-color: #ffffff;
}

.catalog-subtitle {
	font-size: 16px;
	line-height: 19px;
}

/* Catalog Filter */

.range-bullet {
	background-color: #ebebeb;
}

.range-input {
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	opacity: 0.3;
}

.range-input::placeholder {
	color: #000000;
	opacity: 0.6;
}

/* Catalog Sorting */

.sorting-select {
	font: inherit;
	color: #000000;
}

/* Product Cards */

.product-card-image-container {
	background-color: #f0f0f0;
}

.product-card-price {
	font-size: 18px;
	line-height: 21px;
	color: #444444;
}

.catalog-show-more {
	font-size: 16px;
	line-height: 19px;
}

/* Catalog Pagination */

.catalog-pagination {
	background-color: #ebebeb;
}

.pagination-button[aria-disabled="true"] {
	color: #444444;
	opacity: 0.3;
}

.pagination-number,
.pagination-divider {
	color: #444444;
	opacity: 0.3;
}

.pagination-number[aria-current="page"] {
	color: #444444;
	opacity: 0.6;
}
