/* Fonts */

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
	font-display: swap;
}


/* Global Selector */

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-width: 1440px;
	min-height: 100%;
	margin: 0;
	padding-top: 40px;

	font: 18px / 30px "Rubik", "Arial", sans-serif;
	color: #444444;

	background-color: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}


/* Pages Classes */

.container {
	width: 1160px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);

	overflow: hidden;
}

.reset-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.reset-paragraph {
	margin: 0;
}

.normalize-button {
	padding: 0;

	font-family: inherit;

	background-color: rgba(255, 255, 255, 0);
	border: 0;

	cursor: pointer;
}

.normalize-input {
	padding: 0;

	font-family: inherit;

	background-color: rgba(255, 255, 255, 0);
	border: 0;
}

.page-link {
	text-decoration: none;
	color: #000000;
}

.page-title {
	margin: 0;

	font-family: "Raleway", "Verdana", sans-serif;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	color: #000000;
}

.page-subtitle {
	margin: 0;

	font-family: "Raleway", "Verdana", sans-serif;
	font-weight: 800;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;
}

.text-subtitle {
	font-family: "Raleway", "Verdana", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}

.text-bold {
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -0.02em;
	color: #000000;
}

.text-small {
	font-size: 16px;
	line-height: 20px;
	color: #000000;
}

.page-image {
	display: block;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.interactive-element:hover {
	opacity: 0.6;
}

.interactive-element:focus-visible {
	outline: 2px solid #af4fff;
	outline-offset: 2px;
}

@supports not selector(:focus-visible) {
	.interactive-element:focus {
		outline: 2px solid #af4fff;
		outline-offset: 2px;
	}
}

.interactive-element:active {
	opacity: 0.3;
}

.interactive-element:disabled {
	opacity: 0.1;

	pointer-events: none;
}


/* Header and Footer */

.logo {
	display: block;
	width: 145px;
}

.logo-image {
	display: block;

	transition: opacity 100ms ease-out;
}

.logo:hover .logo-image {
	opacity: 0.6;
}

.logo:focus-visible {
	outline: 2px solid #af4fff;
	outline-offset: 2px;
}

@supports not selector(:focus-visible) {
	.logo:focus {
		outline: 2px solid #af4fff;
		outline-offset: 2px;
	}
}

.logo:active .logo-image {
	opacity: 0.3;
}


/* Header */

.page-header {
	background-color: #ffe17f;
}

.header-wrapper {
	width: 1050px;
	margin: -20px auto 0;
	padding-left: 5px;
}

.header-wrapper-inner {
	margin-bottom: 20px;
}

.header-logo {
	margin-bottom: 30px;
}

/* Header User Menu */

.user-menu {
	display: grid;
	grid-template-columns: 520px 237px 1fr;
	column-gap: 20px;
	align-items: start;
	margin-bottom: 30px;
}

.site-search-form {
	display: flex;
	margin-right: 3px;
}

.site-search-field {
	width: 359px;
	height: 100%;
	padding: 8px 23px 8px 46px;

	font-family: inherit;

	background: url("../icons/stack.svg#header-site-search") no-repeat 14px center / 16px 16px;
	background-color: rgba(255, 255, 255, 0);
	border: 2px solid #000000;
	border-radius: 50px 0 0 50px;

	appearance: textfield;
}

.site-search-field::placeholder {
	color: #000000;
	opacity: 0.3;
}

.site-search-field::-webkit-search-cancel-button {
	margin: 0;

	appearance: none;
}

.site-search-field:focus {
	outline: none;
}

.site-search-label:focus-within {
	z-index: 1;

	outline: 2px solid #af4fff;
	outline-offset: 2px;
}

.site-search-field:disabled {
	opacity: 0.3;
}

.site-search-button {
	position: relative;

	width: 158px;
	padding: 8px 23px;

	border: 2px solid #000000;
	border-left: 0;
	border-radius: 0 50px 50px 0;

	transition: 300ms ease-out;
}

.site-search-button::before {
	position: absolute;
	top: -2px;
	left: -2px;

	width: calc(100% + 4px);
	height: calc(100% + 4px);

	content: "";
}

.site-search-button:hover {
	color: #ffffff;

	background-color: #000000;
}

.site-search-button:focus {
	outline: none;
}

.site-search-button:focus-visible::before {
	outline: 2px solid #af4fff;
	outline-offset: 2px;
}

@supports not selector(:focus-visible) {
	.site-search-button:focus::before {
		outline: 2px solid #af4fff;
		outline-offset: 2px;
	}
}

.site-search-button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #000000;
}

.site-search-button:disabled {
	opacity: 0.3;

	pointer-events: none;
}

.user-login {
	display: flex;
	margin: 3px 0;
}

.user-menu-button {
	display: flex;
	align-items: center;
	padding: 2px 3px;
}

.user-menu-button::before {
	margin-right: 12px;

	content: "";
}

.login-button::before {
	width: 15px;
	height: 12px;

	background-image: url("../icons/stack.svg#header-user-login");
}

.log-ut-button {
	margin-left: 22px;
	padding: 2px 3px;

	color: rgba(0, 0, 0, 0.3);
}

.log-ut-button:hover {
	color: rgba(0, 0, 0, 1);
}

.log-ut-button:focus-visible {
	outline: 2px solid #af4fff;
	outline-offset: 2px;
}

@supports not selector(:focus-visible) {
	.log-ut-button:focus {
		outline: 2px solid #af4fff;
		outline-offset: 2px;
	}
}

.log-ut-button:active {
	color: rgba(0, 0, 0, 1);
}

.user-products {
	display: flex;
	flex-wrap: wrap;
	margin-right: 2px;
}

.user-products-item {
	margin: 3px 18px 3px 0;
}

.user-products-item:nth-child(2n) {
	margin-right: 0;
}

.compare-item {
	margin-right: 12px;
}

.compare-button::before {
	width: 10px;
	height: 12px;

	background-image: url("../icons/stack.svg#header-user-compare");
}

.cart-button {
	position: relative;

	padding-left: 21px;
}

.cart-button::before {
	width: 16px;
	height: 14px;
	margin-top: -3px;
	margin-left: -3px;

	background-image: url("../icons/stack.svg#header-user-cart");
}

.cart-counter {
	position: absolute;
	left: 3px;

	width: 21px;
	height: 21px;

	font-size: 14px;
	line-height: 17px;

	background-color: #ffffff;
	border-radius: 50%;
}

/* Header Navigation */

.main-navigation {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.catalog-navigation {
	position: relative;
	z-index: 2;
}

.catalog-navigation:focus-within .toggler-icon::before {
	content: none;
}

.catalog-navigation-toggler {
	display: flex;
	max-width: 400px;
}

.toggler-text {
	margin-right: 17px;
	padding: 15px 0 14px;
}

.toggler-icon {
	position: relative;

	align-self: center;
	flex-shrink: 0;

	width: 50px;
	height: 50px;

	border: 2px solid #000000;
	border-radius: 50%;

	opacity: 0.3;
	transition: opacity 100ms ease-in;
}

.toggler-icon::before,
.toggler-icon::after {
	position: absolute;

	width: 16px;
	height: 2px;

	background-color: #000000;

	content: "";
}

.toggler-icon::before {
	transform: rotate(90deg);
}

.catalog-navigation-toggler:hover .toggler-icon {
	opacity: 1;
}

.catalog-navigation-toggler:focus-visible {
	outline: 2px solid #af4fff;
	outline-offset: 2px;
}

@supports not selector(:focus-visible) {
	.catalog-navigation-toggler:focus {
		outline: 2px solid #af4fff;
		outline-offset: 2px;
	}
}

.catalog-navigation-toggler:active .toggler-icon {
	opacity: 1;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	max-width: 522px;
}

.site-navigation-item {
	margin: 5px 0 5px 40px;
}

.site-navigation-link {
	position: relative;

	display: block;
	padding: 10px 1px 9px 5px;
}

.site-navigation-link[aria-current="page"]::after {
	position: absolute;
	left: 6px;
	bottom: 3px;

	width: calc(100% - 10px);
	height: 2px;

	background-color: #000000;

	content: "";
}


/* Footer */

.page-footer {
	margin-top: auto;
	padding: 62px 0 61px;

	color: #ffffff;

	background-color: #444444;
}

.footer-wrapper {
	display: flex;
}

.footer-left-column {
	width: 240px;
	margin: 0 113px 16px 0;
	padding-bottom: 71px;
}

.footer-center-column {
	display: grid;
	align-content: start;
	max-width: 500px;
	margin-top: 66px;
}

.footer-right-column {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 175px;
	margin: 78px 0 4px auto;
}

.footer-link {
	text-decoration: none;
	color: inherit;
}

.footer-logo {
	display: block;
	width: 145px;
	margin: 0 0 35px 1px;
}

.footer-address {
	font-style: normal;
	color: inherit;
}

.footer-navigation {
	margin-bottom: 42px;
}

.footer-navigation-list {
	display: flex;
	flex-wrap: wrap;
}

.footer-navigation-item {
	margin: 0 25px 10px 0;
}

.footer-navigation-item:nth-child(3n) {
	margin-right: 0;
}

.footer-navigation-link {
	display: block;
	padding: 9px 1px 10px 5px;
}

.footer-social {
	display: flex;
	justify-self: center;
}

.footer-social-item {
	margin-right: 15px;
}

.footer-social-item:last-child {
	margin-right: 0;
}

.footer-social-link {
	display: flex;
	width: 40px;
	height: 40px;

	background: rgba(255, 255, 255, 0.3);
	border-radius: 50%;
}

.footer-right-column > :nth-last-child(2) {
	margin-bottom: 63px;
}

.footer-phone {
	display: block;

	text-decoration: underline;
}

.footer-developer {
	width: 115px;
	height: 33px;
	margin-top: auto;
}


/* Main */

.main-container {
	flex-grow: 1;
}

.button {
	padding: 15px 32px 15px 36px;
}

.button-yellow-wrapper {
	display: inline-block;
}

.button-yellow {
	position: relative;
	left: 2.5%;
	z-index: 1;

	display: inline-block;
	min-width: 210px;
	max-width: 340px;
	padding: 10px 13px 9px 17px;

	text-align: center;
}

.button-yellow::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;

	width: 105%;
	height: 100%;

	background-color: #ffe17f;

	transform: translate(-50%, -50%) scaleY(0.2);

	transition: 100ms ease-in;

	content: "";
}

.button-yellow::after {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 105%;
	height: 100%;

	transform: translate(-50%, -50%);

	background-color: rgba(255, 255, 255, 0);

	content: "";
}

.button-yellow:hover::before {
	transform: translate(-50%, -50%) scaleY(1);

	transition: 100ms ease-in;
}

.button-yellow:focus {
	outline: none;
}

.button-yellow:focus-visible::after {
	outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
	.button-yellow:focus::after {
		outline: 2px solid #af4fff;
	}
}

.button-yellow:active::before {
	background-color: #ffcc33;

	transform: translate(-50%, -50%) scaleY(1);

	transition: 100ms ease-out;
}

.button-yellow:disabled,
.button-yellow:disabled::before {
	opacity: 0.3;

	pointer-events: none;
}


/* Main Index */

.page-section {
	margin-bottom: 70px;
}


/* Main Slider */

.main-slider {
	position: relative;

	background: linear-gradient(#ffe17f 134px, rgba(255, 255, 255, 0) 134px);
}

/* Main Slider Card start */

.slider-card {
	position: relative;
	z-index: 1;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 40px;
}

.slider-card::before {
	position: absolute;
	top: 13px;
	right: 49px;
	z-index: -1;

	display: flex;
	align-items: center;
	justify-content: flex-end;
	min-width: 250px;
	height: 135px;

	font-weight: 700;
	font-size: 180px;
	color: #ffffff;

	content: attr(data-slide-count);
}

.slider-image {
	margin-top: -16px;
}

.slider-info {
	padding: 105px 0 38px;
}

.slider-title {
	margin-bottom: 29px;
}

.slider-description:last-of-type {
	margin-bottom: 50px;
}

.slider-link-wrapper {
	margin-bottom: 50px;
}

.slider-features {
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 22px;
	justify-content: start;
	margin: 0;
}

.slider-feature {
	display: flex;
	flex-direction: column;
}

.feature-title {
	font-size: 16px;
}

.feature-description {
	order: -1;
	margin: 0 0 12px;

	font-size: 36px;
	color: #000000;
}

/* Main Slider Card end */

.slider-controls {
	position: absolute;
	top: 195px;
	left: 30px;
	z-index: 1;

	display: flex;
	justify-content: space-between;
	width: 530px;
}

.slider-button {
	width: 20px;
	height: 60px;

	background: url("../icons/main-slider-arrow.svg") no-repeat center / contain;
	background-color: rgba(255, 255, 255, 0);

	transition: opacity 50ms ease-out;
}

.slider-button-next {
	transform: rotate(180deg);
}

.slider-pagination {
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: 1;

	display: flex;

	transform: translateX(-50%);
}

.slider-pagination-button {
	width: 12px;
	height: 12px;
	margin-right: 20px;

	transition: opacity 50ms ease-out;
}

.slider-pagination-button:last-child {
	margin-right: 0;
}

.slider-pagination-button::before {
	display: block;
	height: 100%;

	background-color: #ffffff;
	border: 2px solid #000000;
	border-radius: 50%;

	content: "";
}

.slider-pagination-button.is-current::before {
	background-color: #000000;
}


/* Catalog Categories */

.categories-cards {
	display: grid;
	grid-template-columns: repeat(6, 160px);
	gap: 40px;
}

.categories-card {
	display: grid;
}

.categories-link {
	display: grid;
	grid-template-rows: min-content;
	row-gap: 33px;

	transition: opacity 150ms ease-out;
}

.categories-link::before {
	height: 160px;

	background-color: #ffe17f;
	background-repeat: no-repeat;
	background-position: center;

	transition: background-color 150ms ease-out;

	content: "";
}

.categories-link-virtual::before {
	background-image: url("../icons/stack.svg#catalog-categories-virtual");
}

.categories-link-monopods::before {
	background-image: url("../icons/stack.svg#catalog-categories-monopods");
}

.categories-link-cameras::before {
	background-image: url("../icons/stack.svg#catalog-categories-cameras");
}

.categories-link-bracelets::before {
	background-image: url("../icons/stack.svg#catalog-categories-bracelets");
}

.categories-link-watches::before {
	background-image: url("../icons/stack.svg#catalog-categories-watches");
}

.categories-link-quadcopters::before {
	background-image: url("../icons/stack.svg#catalog-categories-quadcopters");
}

.categories-link:hover::before {
	background-color: #ffc700;
}

.categories-link:focus-visible {
	outline: 2px solid #af4fff;
	outline-offset: 2px;
}

@supports not selector(:focus-visible) {
	.categories-link:focus {
		outline: 2px solid #af4fff;
		outline-offset: 2px;
	}
}

.categories-link:active::before {
	background-color: #ffe17f;
}

.categories-link:active {
	opacity: 0.3;
}

.categories-title {
	min-height: 60px;

	font-size: 18px;
	line-height: 24px;
	letter-spacing: -0.02em;
}


/* Tabs. Services */

.services {
	padding-bottom: 72px;

	background: linear-gradient(rgba(255, 255, 255, 0) 102px, #f0f0f0 102px);
}

.services-wrapper {
	display: grid;
	grid-template-columns: 287px 1fr;
}

.services-list {
	position: relative;

	display: grid;
	row-gap: 35px;
	justify-items: start;
	align-self: start;
	width: 280px;
	padding: 64px 0 65px;
}

.services-list::after {
	position: absolute;
	top: 0;
	left: 100%;

	width: 7px;
	height: 100%;

	background-color: #000000;

	content: "";
}

.services-tab {
	min-width: 153px;
	max-width: 240px;
	padding-left: 14px;
	padding-right: 10px;
}

.services-tab-text {
	display: block;

	transition: transform 300ms ease-out;
}

.services-tab-selected {
	position: relative;
	left: 2.5%;
	z-index: 1;

	padding-top: 10px;
	padding-bottom: 9px;

	color: #ffe17f;
}

.services-tab-selected::after {
	position: absolute;
	top: 0;
	left: -2.5%;
	z-index: -1;

	width: 280px;
	height: 100%;

	background-color: #000000;

	transform: none;

	content: "";
}

.services-tab-selected:focus-visible {
	outline: none;
}

@supports not selector(:focus-visible) {
	.services-tab-selected:focus {
		outline: none;
	}
}

.services-tab-selected:focus-visible::after {
	outline: 2px solid #af4fff;
	outline-offset: 2px;
}

@supports not selector(:focus-visible) {
	.services-tab-selected:focus::after {
		outline: 2px solid #af4fff;
		outline-offset: 2px;
	}
}

.services-tab-selected:hover .services-tab-text,
.services-tab-selected:focus-visible .services-tab-text,
.services-tab-selected:active .services-tab-text {
	transform: translateX(26px);
}

@supports not selector(:focus-visible) {
	.services-tab-selected:focus .services-tab-text {
		transform: translateX(26px);
	}
}

.services-card {
	display: flex;
	justify-content: space-between;
	padding: 73px 60px 0 116px;
}

.services-info {
	width: 455px;
}

.services-title {
	margin-bottom: 34px;
}

.services-delivery::after {
	width: 139px;
	height: 165px;
	margin-top: 4px;

	background: url("../icons/stack.svg#tabs-delivery") no-repeat center / contain;

	content: "";
}


/* On Order */

.on-order-button {
	display: grid;
	grid-template-columns: 125px 1fr 125px;
	min-height: 100px;

	background-color: #f0f0f0;

	transition: 150ms ease-out;
}

.on-order-text {
	grid-column: 2 / 3;
	align-self: center;
	justify-self: center;
	max-width: 710px;
	padding: 40px 0 36px 4px;

	font-size: 20px;
	line-height: 23px;
	text-align: center;
}

.on-order-button::before {
	background: url("../icons/stack.svg#on-order-delivery") no-repeat center / 47px 32px;
	background-color: #ffe17f;

	transition: 150ms ease-out;

	content: "";
}

.on-order-icon {
	align-self: center;
	justify-self: center;
	width: 40px;
	height: 40px;

	background-color: rgba(220, 220, 220, 0.5);
	border-radius: 50%;

	content: "";
}

.on-order-icon::before {
	width: 2px;
	height: 12px;

	background: url("../icons/stack.svg#on-order-info") no-repeat center / contain;
	opacity: 0.3;

	transition: 150ms ease-out;

	content: "";
}

.on-order-button:hover::before,
.on-order-button:active::before {
	background-color: #ffc700;
}

.on-order-button:hover .on-order-icon::before,
.on-order-button:active .on-order-icon::before {
	opacity: 1;
}

.on-order-button:focus-visible {
	outline: 2px solid #af4fff;
	outline-offset: 2px;
}

@supports not selector(:focus-visible) {
	.on-order-button:focus {
		outline: 2px solid #af4fff;
		outline-offset: 2px;
	}
}

.on-order-button:active {
	opacity: 0.3;
}


/* Company Info */

.company-info {
	display: grid;
	grid-template-columns: 520px 532px;
	justify-content: space-between;
}

.company-info-title {
	position: relative;

	margin-bottom: 48px;
	padding-top: 47px;
}

.company-info-title::before {
	position: absolute;
	top: 0;
	left: 0;

	width: 84px;
	height: 7px;

	background-color: #000000;

	content: "";
}

.company-info-description {
	width: 500px;
	margin: 0;
}

.about {
	width: 500px;
}

.contacts {
	width: 520px;
}

.about-transport-list {
	width: 450px;
}

.about-transport-item {
	position: relative;

	margin: 0 0 19px 2px;
	padding-left: 34px;
}

.about-transport-item::before {
	position: absolute;
	top: 6px;
	left: 0;

	width: 8px;
	height: 8px;

	background-color: #ffc700;
	border-radius: 50%;

	content: "";
}

.about-transport-item:last-child {
	margin-bottom: 0;
}

.about-more {
	min-width: 257px;
}

.company-info-subtitle {
	margin: 0 0 15px;

	font-weight: 700;
	font-size: 24px;
}

.contacts-address {
	font-style: normal;
}

.contacts-phone {
	display: inline-block;

	color: inherit;
}

.contacts-feedback {
	min-width: 247px;
}

.company-info-row-gap {
	margin-bottom: 30px;
}


/* Subscription */

.subscription {
	padding: 64px 0 56px;

	background-color: #f0f0f0;
}

.subscription-wrapper {
	display: grid;
	row-gap: 144px;
}

.subscription-info {
	display: grid;
	grid-template-columns: 420px 1fr;
	column-gap: 180px;
	padding: 0 0 0 7px;
}

.subscription-description {
	margin: 10px 0 0;
}

.subscription-form-container {
	display: grid;
	grid-template-columns: 1fr 210px;
	column-gap: 138px;
	align-items: center;
	padding: 0 1px;
}

.subscription-form {
	display: flex;
}

.subscription-field-label {
	flex-grow: 1;
}

.subscription-field {
	width: 100%;
	height: 100%;
	padding: 13px 16px 11px;

	font: inherit;
	color: #444444;

	border-bottom: 3px solid #c4c4c4;
}

.subscription-field::placeholder {
	color: #444444;
	opacity: 0.5;
}

.subscription-field:focus {
	outline: none;

	background-color: #dcdcdc;
}

.subscription-field-error {
	border-bottom-color: #ff3d3d;
}

.subscription-field:disabled {
	opacity: 0.3;
}

.subscription-button {
	max-width: 350px;

	border: 3px solid #c4c4c4;

	transition: color 100ms ease-out, background-color 100ms ease-out, border-color 100ms ease-out;
}

.subscription-button:hover {
	color: #ffffff;

	background-color: #000000;
	border-color: #000000;
}

.subscription-button:focus-visible {
	outline: 2px solid #af4fff;
	outline-offset: 2px;
}

@supports not selector(:focus-visible) {
	.subscription-button:focus {
		outline: 2px solid #af4fff;
		outline-offset: 2px;
	}
}

.subscription-button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #000000;
	border-color: #000000;
}

.subscription-button:disabled {
	opacity: 0.3;

	pointer-events: none;
}

.subscription-form-remark {
	display: flex;
	justify-self: end;
}

.subscription-form-remark::before {
	flex-shrink: 0;
	width: 16px;
	height: 16px;
	margin: 7px 16px 0 0;

	background: url("../icons/stack.svg#subscription-tick") no-repeat center / contain;

	content: "";
}


/* Main Inner */

/* Inner Header */

.inner-header {
	padding: 35px 40px 24px 60px;
}

.inner-title {
	margin-bottom: 16px;
}

.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
}

.breadcrumbs-item {
	margin: 0 16px 10px 0;
}

.breadcrumbs-item:last-child {
	margin-right: 0;
}

.breadcrumbs-link {
	display: flex;
}


/* Catalog */

.catalog {
	background-color: #f0f0f0;
}

.catalog-wrapper {
	display: grid;
	grid-template-columns: 320px 1fr;
}

.catalog-subtitle {
	font-size: 16px;
	line-height: 19px;
}

.catalog-results {
	display: flex;
	flex-direction: column;
}


/* Catalog Filter */

.catalog-filter {
	padding: 25px 40px 64px 46px;
}

.catalog-filter-title {
	margin: 0 20px 60px 14px;
}

.filter-group {
	margin: 0 20px 35px 14px;
	padding: 0;

	border: 0;
}

.range-slider-group {
	margin-left: 0;
}

.filter-group-title {
	width: 100%;
	margin-bottom: 20px;
	padding: 12px 0 0 0;
}

.range-slider-title {
	margin-left: 14px;
	padding-right: 14px;
}

.range-price {
	display: grid;
	row-gap: 4px;
	justify-content: start;
}

.range-bullet {
	justify-self: center;
	width: 18px;
	height: 18px;

	background-color: #ebebeb;
	border: 2px solid #000000;
	border-radius: 50%;
}

.range-input {
	display: block;
	width: 30px;
	padding: 0 1px;

	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: rgba(0, 0, 0, 0.3);
}

.range-input::placeholder {
	color: #000000;
	opacity: 0.6;
}

.filter-item-checkbox {
	margin-bottom: 17px;
}

.filter-item-radio {
	margin-bottom: 20px;
}

.filter-item:last-child {
	margin-bottom: 0;
}

.filter-input {
	margin: 0 16px 0 0;
}

.filter-button-wrapper {
	margin-left: 14px;
}

.filter-button {
	width: 210px;
}


/* Catalog Sorting */

.catalog-sorting {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 40px;
}

.sorting-select {
	min-width: 144px;
	padding: 0 32px 0 0;

	font: inherit;
	color: #000000;

	background-color: rgba(255, 255, 255, 0);
	border: 0;

	appearance: none;
}

.sorting-order {
	display: flex;
}

.sorting-order-button {
	display: flex;
	width: 30px;
	height: 30px;
}


/* Catalog Products */

.catalog-products {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 70px 40px 78px;

	background-color: #ffffff;
}

.products-cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 44px 40px;
	margin-bottom: 44px;
}

.products-card {
	display: grid;
}

.products-image-container {
	height: 380px;
	margin-bottom: 32px;

	background-color: #f0f0f0;
}

.products-info-container {
	display: flex;
	justify-content: space-between;
}

.products-title {
	flex-shrink: 0;
	width: 230px;
	margin: 0 20px 0 0;
}

.products-price {
	font-size: 18px;
	line-height: 21px;
	text-align: right;
	color: #444444;
}

.catalog-show-more {
	margin: auto 0 44px;

	font-size: 16px;
	line-height: 19px;

	border: 3px solid #e5e5e5;
}

.catalog-pagination {
	display: grid;
	grid-template-columns: 200px max-content 213px;
	align-items: start;
	justify-content: space-between;

	background-color: #ebebeb;
}

.pagination-button {
	max-width: 200px;
	padding: 25px 23px;

	text-align: center;
}

.pagination-backward {
	justify-self: start;
}

.pagination-forward {
	justify-self: end;
}

.pagination-button[aria-disabled="true"] {
	color: rgba(68, 68, 68, 0.3);
}

.pagination-list {
	display: flex;
	flex-wrap: wrap;
	align-self: center;
	max-width: 280px;
	margin: 16px 0 15px;
}

.pagination-number,
.pagination-divider {
	display: block;
	width: 40px;
	padding: 10px 0;

	text-align: center;
	color: rgba(68, 68, 68, 0.3);
}

.pagination-number[aria-current="page"] {
	color: rgba(68, 68, 68, 0.6);
}
